<!DOCTYPE html>
<html>
    <head>
        <title>Sports Poll</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><i class="fa fa-spinner" aria-hidden="true"></i>Sports Poll</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <% if(!currentUser){ %>
                            <li><a href="/login"><i class="fa fa-user" aria-hidden="true"></i>Login</a></li>
                            <li><a href="/signup"><i class="fa fa-user-plus" aria-hidden="true"></i>Sign Up</a></li>
                        <% } else { %>
                            <li><a href="#">Signed in as <i class="fa fa-smile-o" aria-hidden="true"></i><%= currentUser.username %></a></li>
                            <li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a></li>
                        <% } %>    
                    </ul>
                </div>
            </div>
        </nav>
        
        <div class="container">
            <% if(error && error.length > 0) { %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
            <% } %>
            <% if(success && success.length > 0) { %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
            <% } %>
            <% if(info && info.length > 0) { %>
            <div class="alert alert-info" role="alert">
                <%= info %>
            </div>
            <% } %>
        </div>