<% include partials/header %>

<div class="container">
   <div class="row">
       <h1 style="text-align: center;">Login</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/login" method="POST">
                <div class="form-group">
                   <input class="form-control" type="email" name="username" placeholder="username(emails only)" required> 
                </div>
                <div class="form-group">
                   <input class="form-control" type="password" name="password" placeholder="password" required> 
                </div>
                <div class="form-group">
                  <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
            <a href="/sportsevents">Go Back</a>
        </div>
        
    </div>
</div>

<% include partials/footer %>