<% include partials/header %>

<div class="container">
  <header class=jumbotron>
    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                <li class="list-group-item"><strong>Away Name:</strong> <%= sportsEvent.awayName %></li>
                <li class="list-group-item"><strong>Group:</strong> <%= sportsEvent.group %></li>
                <li class="list-group-item"><strong>Home Name:</strong> <%= sportsEvent.homeName %></li>
              <li class="list-group-item"><strong>Name:</strong> <%= sportsEvent.name %></li>
                <li class="list-group-item"><strong>Sport:</strong> <%= sportsEvent.sport %></li>
              <li class="list-group-item"><strong>Country:</strong> <%= sportsEvent.country %></li>
              <li class="list-group-item"><strong>State:</strong> <%= sportsEvent.state %></li>
            </div>
        </div>
        <div class="col-md-4">
          <p class="lead" >Vote Here</p>
            <div>
        <form action="/polls" method="POST">
            <div class="radio">
                <label><input class="radio" type="radio" name="vote" value="Home Team win" required>Home Team win (<%= sportsEvent.homeName %>)</label>
            </div>
            <div class="radio">
                <label><input class="radio" type="radio" name="vote" value="Draw" required>Draw</label>
            </div>
            <div class="radio">
                <label><input class="radio" type="radio" name="vote" value="Away Team win" required>Away Team win (<%= sportsEvent.awayName %>)</label>
            </div>
            <input type="hidden" value="<%= sportsEvent.id %>" name="eventId">
            <div>
                <button class="btn btn-lg btn-primary btn-block">Vote</button>
            </div
    
        </form>
    </div>
            
        </div>
    </div>
 </header>
</div>
<p class="text-center"><a href="/sportsevents">Go Back</a></p>
<% include partials/footer %>