<% include partials/header %>

<div class="container">
    <header class=jumbotron>
        <div class="container">
            <h1 class="text-center">Welcome to the Sports Poll</h1>
            <p class="text-center">Your vote counts</p>
            <a class="btn btn-lg btn-primary btn-block" href="/polls/new"><i class="fa fa-bullseye" aria-hidden="true"></i> Start Voting <i class="fa fa-bullseye" aria-hidden="true"></i></a>
        </div>
    </header>
    
    <div class="row">
        <div class="col-xs-12">
          <div class="table-responsive">
            <table summary="A list of available events" class="table table-bordered table-hover">
              <p class="text-center lead"> Sports Events</p>
              <thead>
                <tr>
                  <th>Away Name</th>
                  <th>Group</th>
                  <th>Home Name</th>
                  <th>Name</th>
                  <th>Sport</th>
                  <th>Country</th>
                  <th>State</th>
                </tr>
              </thead>
              <tbody>
                <% sportsevents.forEach(function(sportsevent){ %>
                <tr>
                  <td><%= sportsevent.awayName %></td>
                  <td><%= sportsevent.group %></td>
                  <td><%= sportsevent.homeName %></td>
                  <td><%= sportsevent.name %></td>
                  <td><%= sportsevent.sport %></td>
                  <td><%= sportsevent.country %></td>
                  <td><%= sportsevent.state %></td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
    </div>
</div>


<% include partials/footer %>